{% extends 'base.html' %}

{% block title %}
    Index
{% endblock title %}

{% block extra_head %}
    <style>
        #mapid{
            height: 1080px;
        }
    </style>
{% endblock extra_head %}

{% block content %}
    <div id="mapid"></div>
{% endblock content %}

{% block extra_footer %}
<script>
    var mymap = L.map('mapid').setView([47.23405388968037, 19.114638981252874], 6);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=sk.eyJ1IjoiZmlrYXJjaGFtaWlpaW0iLCJhIjoiY2ttbjE2dWc3MXFmaDJ2azVvY2JtMGE1MCJ9.wMqW24OqNms9mzEEp74mzg', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        minZoom: 6,
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'sk.eyJ1IjoiZmlrYXJjaGFtaWlpaW0iLCJhIjoiY2ttbjE2dWc3MXFmaDJ2azVvY2JtMGE1MCJ9.wMqW24OqNms9mzEEp74mzg'
    }).addTo(mymap);

    var geojsonLayer = new L.GeoJSON.AJAX("Hungary.geojson");       
    geojsonLayer.addTo(mymap);

    // var soeta_kualanamu = L.polyline([
    //     [-6.125556, 106.655830],
    //     [3.633825, 98.877304],
    //     [-7.786086, 110.431435],
    //     [-6.125556, 106.655830]
    // ]).addTo(mymap);

    // var popup_soeta = L.popup()
    //     .setLatLng([-6.125556, 106.655830])
    //     .setContent('Soekarno')
    //     .openOn(mymap);

    // var myLines = [{
    //     "type": "LineString",
    //     "coordinates": [
    //         [106.655830, -6.125556],
    //         [98.877304, 3.633825],
    //         [110.431435, -7.786086]
    //     ]
    // }];

    // var myStyle = {
    //     "color": "black",
    //     "weight": 2,
    //     "opacity": 0.65
    // };

    // L.geoJSON(myLines, {
    //     style: myStyle
    // }).addTo(mymap);

    // L.control.scale().addTo(mymap);

    // https://www.igismap.com/add-load-geojson-file-point-polyline-polygon-map-leaflet-js/
</script>
{% endblock extra_footer %}